      
      table{
			border-collapse: collapse;
			border: 1px solid green;
		}
		
		td{

			border-bottom: 1px solid black;
		}

		span{

			color: red;
		}

		img{

			height: 200px;
			width: 200px
		}

		.just_body {
       background-image: url("image/background20.jfif");

       background-repeat: no-repeat, repeat;

       background-size: cover;
      
       } 
       fieldset{

       	background: #C0C0C0;
       }
       legend{
       	color: black;
       }