    
    table{
			border-collapse: collapse;
			border: 1px solid green;
		}
	    td{

	    	border-bottom: 1px solid green;
	    }

	    img{

	    	height: 180px;
	    	width: 190px;
	    }

	    .back_body {
       background-image: url("image/background11.jpg");

       background-repeat: no-repeat, repeat;

       background-size: cover;
      
       } 

       fieldset{

       	background: #E0FFFF;
       }