   
   li{
			display: inline;
		}

		.link, .visited {
          background-color: orange;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
       }


        .table{
        	border-collapse: collapse;
        	border: 1px solid green;
        }

        .td{
        	border: none;
        }