
  span{

            color: red;
        }
        .just_body {
       background-image: url("image/background27.jpg");

       background-repeat: no-repeat, repeat;

       background-size: cover;
      
       } 
       fieldset{

        background: #F0FFF0;
       }