     
     table{
			border-collapse: collapse;
			border: 1px solid green;
		}
	    td{

	    	border-bottom: 1px solid green;
	    }
	    span{

	    	color: red;
	    }

	    img{

	    	height: 220px;
	    	width: 220px;
	    }
	    .just_body {
       background-image: url("image/background17.jpg");

       background-repeat: no-repeat, repeat;

       background-size: cover;
      
       } 

       fieldset{

       	background: #FFF5EE;
       }