        
        table{
			border-collapse: collapse;
			border: 1px solid green;
		}
	    td{

	    	border-bottom: 1px solid green;
	    }

	    img{

	    	height: 180px;
	    	width: 190px;
	    }
	    .middle_body{

	    	background-image: url("image/background14.jpg");

            background-repeat: no-repeat, repeat;

            background-size: cover;
      
	    }

	    fieldset{

	    	background-color: #DCDCDC;
	    }